.metadata/
*.snap
*.index
*.log
*.xmi
.metadata/.log
.metadata/0.log
.metadata\.log
*.index
*.resources
.xmi
*.properties
*.resources
*.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/appcurso/.markers
.metadata/.log
.metadata/.log
